/* Font (Sora) */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;700;800&display=swap");

/* Variables */
:root {
  --white: #fff;
  --black: #000000;
}

/* Globals */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  background-color: #090d12;
  color: white;
}

h1,
h2,
h3,
h4 {
}

h1 {
  font-size: 4.8rem;
}
h2 {
  font-size: 4.2rem;
}
h3 {
  font-size: 3.8rem;
}
h4 {
  font-size: 3.2rem;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Utilities */
[class$="container"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

@media (min-width: 768px) {
  [class$="container"] {
    width: 90%;
    max-width: 200rem;
  }
}

.text-center {
  text-align: center;
}

/* RECENT MOVIES PAGE */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

.search__input {
  padding: 1rem 2rem;
  min-width: 20rem;
  width: 40rem;
}

.search__input:focus {
  outline-color: #293c51;
}

.search__button {
  background-color: #2c4660;
  color: var(--white);
}

.search__button:hover {
  background-color: #293c51;
  transition: 0.3s;
}

/* MoviesList */
.moviesList__display {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

@media (min-width: 1700px) {
  .moviesList__display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MovieCard */
.card {
  background-color: #2c4660;
  border-radius: .6rem;
}

.card__info {
  padding: 2rem;
}

.card__info a {
  text-decoration: underline;
}

.card__title {
  font-weight: 700;
  color: #a2bed7;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .card {
    display: flex;
    gap: 2rem;
    width: 100%;
    max-height: 28rem;
    overflow: hidden;
  }

  .card__poster {
    max-width: 20rem;  
  }
}

/* END RECENT MOVIES PAGE */
